<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatroom</title>
    <link rel="stylesheet" href="/statics/css/bootstrap.css">
    <script src="/statics/js/bootstrap.min.js"></script>
</head>
<body>
    <header style="background:rgb(103, 64, 128);padding: 30px;">
        <div class="container">
            <h1 style="font-size: 60px;color: white">Chatroom</h1>
            <h3 style="color: white">Base on nodejs,javascript,bootstrap</h3>
        </div>
    </header>
    {% block main %} {% endblock %}
    <footer style="background: lightgray;padding: 30px ">
        <div class="container">
            <ul class="list-inline">
                <li>website</li>
                <li>·</li>
                <li>weibo</li>
                <li>·</li>
                <li>github</li>
            </ul>
        </div>
    </footer>
</body>
</html>