{% extends "base.html" %}{% block main %}
<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Chat Panel</h3>
                </div>
                <div class="panel-body">
                    <div style="min-height: 400px">
                        <ul id="chatPanel"> 
                            <li v-for="msg in messageList" v-text="msg.text"></li>
                        </ul>
                    </div>
                    <form class="" action="">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="input something" id="inputFrame">
                            <span class="input-group-btn"> 
                                <button class="btn btn-default" type="button" id="sendbtn">send</button>
                            </span>
                       </div>
                       
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Users</h3>
                </div>
                <div class="panel-body">
                    <div style="min-height: 400px">
                        <ul id="userPanel">
                            <li v-for="user in userList" v-text="user.text"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="view/chatroom.js"></script>
{% endblock %}